{% load static %}
<header>
    <a href="{% url 'index' %}"><img src="{%static 'img/sneakers.png'%}" alt="" class="logo-main"></a>
    {% if user.is_authenticated %}
    <div class="logo-main" >{{ user.username }}</div>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <nav class="navMenu">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
            <li><a href="{% url 'feedbacks' %}">Feedback</a></li>
            <li><a href="{% url 'wishlist_list' %}">Wishlist</a></li>
            <div class="dot">
                <object type="image/svg+xml" data="{%static 'img/sneakers-feet-svgrepo-com.svg'%}" id="svg"></object>
            </div>
        </ul>
    </nav>
</header>