<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style/style.css'%}" type="text/css">
</head>
<body>
{% include 'includes/navbar.html'%}
<div class="card-service back ">
    <p><h2 class="h2-about">About us</h2></p>
                <p class="p-about">This project was created for more convenient ordering of new sneakers,
                where shoes from China are safely and honestly supplied. We are responsible for every sneaker you order,
                because the mood of our customers is one of the most important things.</p>
</div>
{% include 'includes/footer.html'%}
</body>
</html>